<%- include('../layouts/header.ejs')-%>

<div class="text-center center-div col-sm-12" id="login">
    <h1>Retro</h1>
    <div class="container cont-box py-5">
        <div class="title text-white pb-5">
            <h3 class="font-weight-bold">ADMIN LOGIN</h3>
            <% if (locals.loginfailMessage) { %>
            <div class="alert alert-succes text-center text-danger">
                <h5><%= loginfailMessage %></h5>
             </div>
             <% } %>
            <% if(locals.logoutMessage) { %>
             <div class="alert alert-succes text-center text-success">
                <h5><%= logoutMessage %></h5>
             </div>
            <% } %>
        </div>
        <form action="/admin" method="post">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form>
        <div>
            <a href="/login">User log in</a>
        </div>
    </div>
</div>

<%- include('../layouts/footer.ejs')-%>