<%- include('../layouts/header.ejs')-%>

<div class="text-center center-div col-sm-12" id="login">
    <h1>Retro</h1>
    <div class="container cont-box py-5">
        <div class="title text-white pb-5">
            <h2 class="font-weight-bold">Forgot password</h2>
        </div>
        <form action="" method="post">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password" required>
                <input type="hidden" name="user_id" value="<%=user_id%>">
            </div>
            <button type="submit" class="btn btn-success rounded-pill" value="Reset password">Reset password</button>
        </form>
    </div>
</div>

<%- include('../layouts/footer.ejs')-%>


