<%- include('../layouts/header.ejs')-%>

<div class="text-center center-div col-sm-12" id="login">
    <h1>Retro</h1>
    <div class="container cont-box py-5">
        <div class="title text-white pb-5">
            <h2 class="font-weight-bold">Email verification</h2>
            <span>Please enter your mail for verification</span>
            <% if (typeof successMsg !== 'undefined') { %>
                <div class="alert alert-succes text-center text-success">
                    <h5><%= successMsg %></h5>
                </div>
            <% } %>
            <% if (typeof failMsg !== 'undefined') { %>
                <div class="alert alert-succes text-center text-danger">
                    <h5><%= failMsg %></h5>
                </div>
            <% } %>
        </div>
        <form action="/mailVerification" method="post">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
        
            <button type="submit" class="btn btn-success rounded-pill" value="send verification link">Verify</button>
        </form>
        <div>
            <a href="/login">verification done?Login</a>
        </div>
    </div>
</div>

<%- include('../layouts/footer.ejs')-%>